html, body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.appBox {
  /* background-color: brown; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.header {
  background-color: lightblue;
  border-bottom: solid black 2px;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  background-color: lightblue;
  border-top: solid black 2px;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.mainButton {
  width: 50vw;
  height: 5vh;
}

.mainButton:hover {
  background-color: black;
  color: aliceblue;
}

.mainContent {
  /* background-color: red; */
  height: 100%;
  width: 100%;
}
